@charset "UTF-8";

body {
  background-color: rgb(207, 240, 229);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: blue;
  
}

.principal {
  text-align: center;
  background-color: green;
  color: azure;
}

h2 {
  color: darkblue;
}

.basico {
  color: rgb(156, 156, 3);
}

.intermediario {
  color: yellowgreen;
}

.avançado {
  color: rgb(255, 0, 0);
}
  